In [6]:
for i in range(1, 26):
    print(f"""
        <tr>
      <th scope="row">{i}</th>
      <td><input type="text" name="date{i}" id="date{i}" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase{i}" id="purchase{i}" placeholder="" value=""><br></td>
      <td><input type="text" name="cost{i}" id="cost{i}" placeholder="" value=""><br></td>
      <td><select name="category{i}" id="category{i}">
        zzz if data['category{i}'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category{i}'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>
    """)

        <tr>
      <th scope="row">1</th>
      <td><input type="text" name="date1" id="date1" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase1" id="purchase1" placeholder="" value=""><br></td>
      <td><input type="text" name="cost1" id="cost1" placeholder="" value=""><br></td>
      <td><select name="category1" id="category1">
        zzz if data['category1'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category1'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">2</th>
      <td><input type="text" name="date2" id="date2" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase2" id="purchase2" placeholder="" value=""><br></td>
      <td><input type="text" name="cost2" id="cost2" placeholder="" value=""><br></td>
      <td><select name="category2" id="category2">
        zzz if data['category2'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category2'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">3</th>
      <td><input type="text" name="date3" id="date3" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase3" id="purchase3" placeholder="" value=""><br></td>
      <td><input type="text" name="cost3" id="cost3" placeholder="" value=""><br></td>
      <td><select name="category3" id="category3">
        zzz if data['category3'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category3'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">4</th>
      <td><input type="text" name="date4" id="date4" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase4" id="purchase4" placeholder="" value=""><br></td>
      <td><input type="text" name="cost4" id="cost4" placeholder="" value=""><br></td>
      <td><select name="category4" id="category4">
        zzz if data['category4'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category4'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">5</th>
      <td><input type="text" name="date5" id="date5" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase5" id="purchase5" placeholder="" value=""><br></td>
      <td><input type="text" name="cost5" id="cost5" placeholder="" value=""><br></td>
      <td><select name="category5" id="category5">
        zzz if data['category5'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category5'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">6</th>
      <td><input type="text" name="date6" id="date6" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase6" id="purchase6" placeholder="" value=""><br></td>
      <td><input type="text" name="cost6" id="cost6" placeholder="" value=""><br></td>
      <td><select name="category6" id="category6">
        zzz if data['category6'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category6'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">7</th>
      <td><input type="text" name="date7" id="date7" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase7" id="purchase7" placeholder="" value=""><br></td>
      <td><input type="text" name="cost7" id="cost7" placeholder="" value=""><br></td>
      <td><select name="category7" id="category7">
        zzz if data['category7'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category7'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">8</th>
      <td><input type="text" name="date8" id="date8" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase8" id="purchase8" placeholder="" value=""><br></td>
      <td><input type="text" name="cost8" id="cost8" placeholder="" value=""><br></td>
      <td><select name="category8" id="category8">
        zzz if data['category8'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category8'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">9</th>
      <td><input type="text" name="date9" id="date9" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase9" id="purchase9" placeholder="" value=""><br></td>
      <td><input type="text" name="cost9" id="cost9" placeholder="" value=""><br></td>
      <td><select name="category9" id="category9">
        zzz if data['category9'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category9'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">10</th>
      <td><input type="text" name="date10" id="date10" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase10" id="purchase10" placeholder="" value=""><br></td>
      <td><input type="text" name="cost10" id="cost10" placeholder="" value=""><br></td>
      <td><select name="category10" id="category10">
        zzz if data['category10'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category10'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">11</th>
      <td><input type="text" name="date11" id="date11" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase11" id="purchase11" placeholder="" value=""><br></td>
      <td><input type="text" name="cost11" id="cost11" placeholder="" value=""><br></td>
      <td><select name="category11" id="category11">
        zzz if data['category11'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category11'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">12</th>
      <td><input type="text" name="date12" id="date12" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase12" id="purchase12" placeholder="" value=""><br></td>
      <td><input type="text" name="cost12" id="cost12" placeholder="" value=""><br></td>
      <td><select name="category12" id="category12">
        zzz if data['category12'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category12'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">13</th>
      <td><input type="text" name="date13" id="date13" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase13" id="purchase13" placeholder="" value=""><br></td>
      <td><input type="text" name="cost13" id="cost13" placeholder="" value=""><br></td>
      <td><select name="category13" id="category13">
        zzz if data['category13'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category13'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">14</th>
      <td><input type="text" name="date14" id="date14" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase14" id="purchase14" placeholder="" value=""><br></td>
      <td><input type="text" name="cost14" id="cost14" placeholder="" value=""><br></td>
      <td><select name="category14" id="category14">
        zzz if data['category14'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category14'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">15</th>
      <td><input type="text" name="date15" id="date15" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase15" id="purchase15" placeholder="" value=""><br></td>
      <td><input type="text" name="cost15" id="cost15" placeholder="" value=""><br></td>
      <td><select name="category15" id="category15">
        zzz if data['category15'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category15'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">16</th>
      <td><input type="text" name="date16" id="date16" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase16" id="purchase16" placeholder="" value=""><br></td>
      <td><input type="text" name="cost16" id="cost16" placeholder="" value=""><br></td>
      <td><select name="category16" id="category16">
        zzz if data['category16'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category16'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">17</th>
      <td><input type="text" name="date17" id="date17" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase17" id="purchase17" placeholder="" value=""><br></td>
      <td><input type="text" name="cost17" id="cost17" placeholder="" value=""><br></td>
      <td><select name="category17" id="category17">
        zzz if data['category17'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category17'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">18</th>
      <td><input type="text" name="date18" id="date18" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase18" id="purchase18" placeholder="" value=""><br></td>
      <td><input type="text" name="cost18" id="cost18" placeholder="" value=""><br></td>
      <td><select name="category18" id="category18">
        zzz if data['category18'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category18'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">19</th>
      <td><input type="text" name="date19" id="date19" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase19" id="purchase19" placeholder="" value=""><br></td>
      <td><input type="text" name="cost19" id="cost19" placeholder="" value=""><br></td>
      <td><select name="category19" id="category19">
        zzz if data['category19'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category19'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">20</th>
      <td><input type="text" name="date20" id="date20" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase20" id="purchase20" placeholder="" value=""><br></td>
      <td><input type="text" name="cost20" id="cost20" placeholder="" value=""><br></td>
      <td><select name="category20" id="category20">
        zzz if data['category20'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category20'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">21</th>
      <td><input type="text" name="date21" id="date21" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase21" id="purchase21" placeholder="" value=""><br></td>
      <td><input type="text" name="cost21" id="cost21" placeholder="" value=""><br></td>
      <td><select name="category21" id="category21">
        zzz if data['category21'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category21'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">22</th>
      <td><input type="text" name="date22" id="date22" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase22" id="purchase22" placeholder="" value=""><br></td>
      <td><input type="text" name="cost22" id="cost22" placeholder="" value=""><br></td>
      <td><select name="category22" id="category22">
        zzz if data['category22'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category22'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">23</th>
      <td><input type="text" name="date23" id="date23" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase23" id="purchase23" placeholder="" value=""><br></td>
      <td><input type="text" name="cost23" id="cost23" placeholder="" value=""><br></td>
      <td><select name="category23" id="category23">
        zzz if data['category23'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category23'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">24</th>
      <td><input type="text" name="date24" id="date24" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase24" id="purchase24" placeholder="" value=""><br></td>
      <td><input type="text" name="cost24" id="cost24" placeholder="" value=""><br></td>
      <td><select name="category24" id="category24">
        zzz if data['category24'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category24'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>


        <tr>
      <th scope="row">25</th>
      <td><input type="text" name="date25" id="date25" placeholder="" value=""><br></td>
      <td><input type="text" name="purchase25" id="purchase25" placeholder="" value=""><br></td>
      <td><input type="text" name="cost25" id="cost25" placeholder="" value=""><br></td>
      <td><select name="category25" id="category25">
        zzz if data['category25'] == 'need' yyy
          <option value="need" selected>Need</option>
        zzz else yyy
          <option value="need">Need</option>
        zzz endif yyy
        zzz if data['category25'] == 'need' yyy
          <option value="want">Want</option>
        zzz else yyy
          <option value="want" selected>Want</option>
        zzz endif yyy
          </select>
      </td>
    </tr>

In [1]:
import pandas as pd
df = pd.DataFrame({'date': ['2021-01-01', '2021-02-05']})
df

         date
0  2021-01-01
1  2021-02-05

In [21]:
df['date'].apply(lambda x: x[8:10])

0    01
1    05
Name: date, dtype: object

In [15]:
from datetime import datetime
str(datetime.now().month).zfill(2)

'03'

In [8]:
str(datetime.now().year)

'2021'

In [18]:
for index, row in df.iterrows():
    print(index)

0
1

In [20]:
'12'.zfill(2)

'12'

In [1]:
from glob import glob

In [20]:
files = glob("/Users/petermyers/Desktop/high_quality_programs/24_nonessential_budget_tracker/app/static/*")
files = [x for x in files if ".png" in x]

for file in files:
    print(int(file[:-4].split("/static/plot")[1]))

1